In [ ]:
# Introdution to Mavhine Learning.....>

# Data(df) -----> x(input) , y(output)
# x -------> x_train , x_test
# y -----> y_train , y_test

# Machine find the relation betwwen input to target data

# Maachine (input) ----> output ???

# Machine(x_train , y_train) ---> Machine(x_test) ---> output ???
# Actual_output = y_test , Machine_predict = y_pred

# Machine Capability ---> y_test <-----> y_pred

In [ ]:
# step 1 -- Data Dividation

In [1]:
import numpy as np 
import pandas as pd

In [5]:
df = pd.read_csv("covid_toy - covid_toy.csv")

In [6]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [7]:
df.shape

(100, 6)

In [8]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [9]:
df['fever'] = df['fever'].fillna(df['fever'].mean())

In [10]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [11]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [12]:
x = df.drop(columns = ['has_covid'])  ## Input data

In [13]:
y = df['has_covid']  ## target data