In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("covid_toy - covid_toy.csv")

In [4]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
si = SimpleImputer()

In [10]:
df['fever'] = si.fit_transform(df[['fever']])

In [9]:
# df.isnull().sum()
# df.head(2)

In [11]:
df_label = df.copy()

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
lb = LabelEncoder()

In [15]:
df_label['gender'] = lb.fit_transform(df_label['gender'])
df_label['cough'] = lb.fit_transform(df_label['cough'])
df_label['city'] = lb.fit_transform(df_label['city'])
df_label['has_covid'] = lb.fit_transform(df_label['has_covid'])

# (2).Ordinal Encoder

In [16]:
df_ordinal = df.copy()

df_ordinal = df_ordinal.drop(columns = ['age' , 'fever' , 'city'])  
#df_ordinal.head(2)

In [19]:
from sklearn.preprocessing import OrdinalEncoder

In [20]:
oe = OrdinalEncoder(categories = [['Male','Female'],
                                 ['Mild','Strong'],
                                 ['Yes','No']])

In [21]:
df_oe = oe.fit_transform(df_ordinal)

In [22]:
df_new = pd.DataFrame(df_oe , columns = df_ordinal.columns)

In [23]:
df_new.head(2)

   gender  cough  has_covid
0     0.0    0.0        1.0
1     0.0    0.0        0.0

# (3). OneHOt Encoding
gender(M,F) ----> create a new column of these sub-categories ---> C1(M),C2(F)

In [24]:
df_one = df.copy()
# df_one.head(2)

In [25]:
from sklearn.preprocessing import OneHotEncoder

In [27]:
oe = OneHotEncoder(drop = 'first' , sparse_output = False)

In [28]:
oe_arr = oe.fit_transform(df_one[['gender','cough','city','has_covid']])

# (4).Get_dummies

In [29]:
df_get = df.copy()

In [30]:
df_get.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [31]:
d = pd.get_dummies(df_get , columns = ['gender','cough','city','has_covid'],
                  drop_first = True)

In [32]:
d

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,60,103.0,True,False,False,True,False,False
1,27,100.0,True,False,True,False,False,True
2,42,101.0,True,False,True,False,False,False
3,31,98.0,False,False,False,True,False,False
4,65,101.0,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...
95,12,104.0,False,False,False,False,False,False
96,51,101.0,False,True,False,True,False,True
97,20,101.0,False,False,False,False,False,False
98,5,98.0,False,True,False,False,True,False
99,10,98.0,False,True,False,True,False,True

In [33]:
d.astype(int)

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,60,103,1,0,0,1,0,0
1,27,100,1,0,1,0,0,1
2,42,101,1,0,1,0,0,0
3,31,98,0,0,0,1,0,0
4,65,101,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
95,12,104,0,0,0,0,0,0
96,51,101,0,1,0,1,0,1
97,20,101,0,0,0,0,0,0
98,5,98,0,1,0,0,1,0
99,10,98,0,1,0,1,0,1

In [ ]:
# Data Preprocessing Steps ==>
# (1). Data dividation => 
# x , y
# x_train , x_test , y_train , y_test

# (2). Stadardiation => mean = 0 , std = 1 ----> Normal distribution
# (3). MinMaxscaling => min = 0 , max = 1 -----> Data scaled format
# (4). Encoding => Transform your categorical value into numerical value
# (4a). Label 
# (4b). Ordinal
# (4c). OneHot